body {
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

#main {
  aspect-ratio: 1/1;
  width: 90%;
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  border-radius: 15px;
  background-color: var(--secondary);
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0.1em 0 0 0;
  box-sizing: border-box;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  gap: 10px;
}

h1 {
  color: var(--text-primary);
  font-size: 2.5rem;
  text-align: center;
}

input {
  width: calc(90% - 40px);
  height: 3rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--tertiary);
  color: var(--text-secondary);
  font-size: 1.2rem;
  transition: 0.1s;
}

input::placeholder {
  color: var(--text-tertiary);
}

input:focus {
  outline: 2px solid var(--icon-primary);
  outline-offset: 2px;
}

button {
  width: calc(90% - 20px);
  height: 4em;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--icon-primary);
  color: var(--quaternary);
  font-size: 1.2rem;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: var(--text-tertiary);
}

button:active {
  outline: 2px solid var(--icon-primary);
}

p {
  color: var(--text-tertiary);
  font-size: 1.2rem;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
