/*palettes from https://chatgpt.com */
:root {
  --primary: #202020;
  --secondary: #303030;
  --tertiary: #414141;
  --scrim: #0d0d0d80;
  --elevated-primary: #303030;
  --elevated-secondary: #181818;
  --status-warning: #4a2206;
  --status-error: #4d100e;
  --border-default: #ffffff26;
  --border-heavy: #fff3;
  --border-light: #ffffff0d;
  --border-status-warning: #4a2206;
  --border-status-error: #4d100e;
  --text-primary: #fff;
  --text-secondary: #f3f3f3;
  --text-tertiary: #afafaf;
  --text-inverted: #0d0d0d;
  --text-inverted-static: #fff;
  --text-accent: #66b5ff;
  --text-status-warning: #ff9e6c;
  --text-status-error: #ff8583;
  --icon-primary: #e8e8e8;
  --icon-secondary: #cdcdcd;
  --icon-tertiary: #afafaf;
  --icon-inverted: #0d0d0d;
  --icon-inverted-static: #fff;
  --icon-accent: #66b5ff;
  --icon-status-warning: #ff9e6c;
  --icon-status-error: #ff8583;
  --interactive-primary-default: #fff;
  --interactive-primary-hover: #fffc;
  --interactive-primary-press: #ffffffe5;
  --interactive-primary-inactive: #fff;
  --interactive-primary-selected: #fff;
  --interactive-secondary-default: #fff0;
  --interactive-secondary-hover: #ffffff1a;
  --interactive-secondary-press: #ffffff0d;
  --interactive-secondary-inactive: #fff0;
  --interactive-secondary-selected: #ffffff1a;
  --interactive-tertiary-default: #212121;
  --interactive-tertiary-hover: #181818;
  --interactive-tertiary-press: #0d0d0d;
  --interactive-tertiary-inactive: #212121;
  --interactive-tertiary-selected: #212121;
  --interactive-accent-default: #013566;
  --interactive-accent-hover: #003f7a;
  --interactive-accent-muted-hover: #3b4045;
  --interactive-accent-press: #004f99;
  --interactive-accent-muted-press: #40484f;
  --interactive-accent-inactive: #013566;
  --interactive-danger-primary-default: #e02e2a;
  --interactive-danger-primary-hover: #fa423e;
  --interactive-danger-primary-press: #ba2623;
  --interactive-danger-primary-inactive: #e02e2a;
  --interactive-danger-secondary-default: #fff0;
  --interactive-danger-secondary-hover: #fff0;
  --interactive-danger-secondary-press: #fff0;
  --interactive-danger-secondary-inactive: #fff0;
  --interactive-border-focus: #fff;
  --interactive-border-secondary-default: #ffffff26;
  --interactive-border-secondary-hover: #ffffff26;
  --interactive-border-secondary-press: #fff3;
  --interactive-border-secondary-inactive: #ffffff1a;
  --interactive-border-tertiary-default: #ffffff1a;
  --interactive-border-tertiary-hover: #ffffff26;
  --interactive-border-tertiary-press: #ffffff1a;
  --interactive-border-tertiary-inactive: #ffffff1a;
  --interactive-border-danger-secondary-default: #fa423e;
  --interactive-border-danger-secondary-hover: #ff6764;
  --interactive-border-danger-secondary-press: #e02e2a;
  --interactive-border-danger-secondary-inactive: #fa423e;
  --interactive-label-primary-default: #0d0d0d;
  --interactive-label-primary-hover: #0d0d0d;
  --interactive-label-primary-press: #0d0d0d;
  --interactive-label-primary-inactive: #0d0d0d;
  --interactive-label-primary-selected: #0d0d0d;
  --interactive-label-secondary-default: #f3f3f3;
  --interactive-label-secondary-hover: #ffffffe5;
  --interactive-label-secondary-press: #fffc;
  --interactive-label-secondary-inactive: #f3f3f3;
  --interactive-label-secondary-selected: #f3f3f3;
  --interactive-label-tertiary-default: #cdcdcd;
  --interactive-label-tertiary-hover: #cdcdcd;
  --interactive-label-tertiary-press: #cdcdcd;
  --interactive-label-tertiary-inactive: #cdcdcd;
  --interactive-label-tertiary-selected: #cdcdcd;
  --interactive-label-accent-default: #99ceff;
  --interactive-label-accent-hover: #99ceff;
  --interactive-label-accent-press: #99ceff;
  --interactive-label-accent-inactive: #99ceff;
  --interactive-label-accent-selected: #99ceff;
  --interactive-label-danger-primary-default: #fff;
  --interactive-label-danger-primary-hover: #fff;
  --interactive-label-danger-primary-press: #fff;
  --interactive-label-danger-primary-inactive: #fff;
  --interactive-label-danger-secondary-default: #fa423e;
  --interactive-label-danger-secondary-hover: #ff6764;
  --interactive-label-danger-secondary-press: #e02e2a;
  --interactive-label-danger-secondary-inactive: #fa423e;
  --interactive-icon-primary-default: #0d0d0d;
  --interactive-icon-primary-hover: #0d0d0d;
  --interactive-icon-primary-press: #0d0d0d;
  --interactive-icon-primary-selected: #0d0d0d;
  --interactive-icon-primary-inactive: #0d0d0d;
  --interactive-icon-secondary-default: #f3f3f3;
  --interactive-icon-secondary-hover: #ffffffe5;
  --interactive-icon-secondary-press: #fffc;
  --interactive-icon-secondary-selected: #f3f3f3;
  --interactive-icon-secondary-inactive: #f3f3f3;
  --interactive-icon-tertiary-default: #cdcdcd;
  --interactive-icon-tertiary-hover: #cdcdcd;
  --interactive-icon-tertiary-press: #cdcdcd;
  --interactive-icon-tertiary-selected: #cdcdcd;
  --interactive-icon-tertiary-inactive: #cdcdcd;
  --interactive-icon-accent-default: #99ceff;
  --interactive-icon-accent-hover: #99ceff;
  --interactive-icon-accent-press: #99ceff;
  --interactive-icon-accent-selected: #99ceff;
  --interactive-icon-accent-inactive: #99ceff;
  --interactive-icon-danger-primary-default: #fff;
  --interactive-icon-danger-primary-hover: #fff;
  --interactive-icon-danger-primary-press: #fff;
  --interactive-icon-danger-primary-inactive: #fff;
  --interactive-icon-danger-secondary-default: #fa423e;
  --interactive-icon-danger-secondary-hover: #ff6764;
  --interactive-icon-danger-secondary-press: #e02e2a;
  --interactive-icon-danger-secondary-inactive: #fa423e;
  --utility-scrollbar: #fff3;
}
@media (prefers-color-scheme: light) {
  :root {
    --primary: #fff;
    --secondary: #e8e8e8;
    --tertiary: #f3f3f3;
    --scrim: #0d0d0d80;
    --elevated-primary: #fff;
    --elevated-secondary: #f9f9f9;
    --status-warning: #fff5f0;
    --status-error: #fff0f0;
    --border-default: #0d0d0d1a;
    --border-heavy: #0d0d0d26;
    --border-light: #0d0d0d0d;
    --border-status-warning: #ffe7d9;
    --border-status-error: #ffe1e0;
    --text-primary: #0d0d0d;
    --text-secondary: #5d5d5d;
    --text-tertiary: #8f8f8f;
    --text-inverted: #fff;
    --text-inverted-static: #fff;
    --text-accent: #66b5ff;
    --text-status-warning: #e25507;
    --text-status-error: #e02e2a;
    --icon-primary: #0d0d0d;
    --icon-secondary: #5d5d5d;
    --icon-tertiary: #8f8f8f;
    --icon-inverted: #fff;
    --icon-inverted-static: #fff;
    --icon-accent: #0285ff;
    --icon-status-warning: #e25507;
    --icon-status-error: #e02e2a;
    --interactive-primary-default: #0d0d0d;
    --interactive-primary-hover: #0d0d0dcc;
    --interactive-primary-press: #0d0d0de5;
    --interactive-primary-inactive: #0d0d0d;
    --interactive-primary-selected: #0d0d0d;
    --interactive-secondary-default: #0d0d0d00;
    --interactive-secondary-hover: #0d0d0d05;
    --interactive-secondary-press: #0d0d0d0d;
    --interactive-secondary-inactive: #0d0d0d00;
    --interactive-secondary-selected: #0d0d0d0d;
    --interactive-tertiary-default: #fff;
    --interactive-tertiary-hover: #f9f9f9;
    --interactive-tertiary-press: #f3f3f3;
    --interactive-tertiary-inactive: #fff;
    --interactive-tertiary-selected: #fff;
    --interactive-accent-default: #e5f3ff;
    --interactive-accent-hover: #cce6ff;
    --interactive-accent-muted-hover: #f5faff;
    --interactive-accent-press: #99ceff;
    --interactive-accent-muted-press: #e7f4ff;
    --interactive-accent-inactive: #e5f3ff;
    --interactive-danger-primary-default: #e02e2a;
    --interactive-danger-primary-hover: #fa423e;
    --interactive-danger-primary-press: #ba2623;
    --interactive-danger-primary-inactive: #e02e2a;
    --interactive-danger-secondary-default: #0d0d0d00;
    --interactive-danger-secondary-hover: #0d0d0d00;
    --interactive-danger-secondary-press: #0d0d0d00;
    --interactive-danger-secondary-inactive: #0d0d0d00;
    --interactive-border-focus: #0d0d0d;
    --interactive-border-secondary-default: #0d0d0d1a;
    --interactive-border-secondary-hover: #0d0d0d0d;
    --interactive-border-secondary-press: #0d0d0d0d;
    --interactive-border-secondary-inactive: #0d0d0d1a;
    --interactive-border-tertiary-default: #0d0d0d1a;
    --interactive-border-tertiary-hover: #0d0d0d1a;
    --interactive-border-tertiary-press: #0d0d0d0d;
    --interactive-border-tertiary-inactive: #0d0d0d1a;
    --interactive-border-danger-secondary-default: #e02e2a;
    --interactive-border-danger-secondary-hover: #fa423e;
    --interactive-border-danger-secondary-press: #ba2623;
    --interactive-border-danger-secondary-inactive: #e02e2a;
    --interactive-label-primary-default: #fff;
    --interactive-label-primary-hover: #fff;
    --interactive-label-primary-press: #fff;
    --interactive-label-primary-inactive: #fff;
    --interactive-label-primary-selected: #fff;
    --interactive-label-secondary-default: #0d0d0d;
    --interactive-label-secondary-hover: #0d0d0de5;
    --interactive-label-secondary-press: #0d0d0dcc;
    --interactive-label-secondary-inactive: #0d0d0d;
    --interactive-label-secondary-selected: #0d0d0d;
    --interactive-label-tertiary-default: #5d5d5d;
    --interactive-label-tertiary-hover: #5d5d5d;
    --interactive-label-tertiary-press: #5d5d5d;
    --interactive-label-tertiary-inactive: #5d5d5d;
    --interactive-label-tertiary-selected: #5d5d5d;
    --interactive-label-accent-default: #0285ff;
    --interactive-label-accent-hover: #0285ff;
    --interactive-label-accent-press: #0285ff;
    --interactive-label-accent-inactive: #0285ff;
    --interactive-label-accent-selected: #0285ff;
    --interactive-label-danger-primary-default: #fff;
    --interactive-label-danger-primary-hover: #fff;
    --interactive-label-danger-primary-press: #fff;
    --interactive-label-danger-primary-inactive: #fff;
    --interactive-label-danger-secondary-default: #e02e2a;
    --interactive-label-danger-secondary-hover: #fa423e;
    --interactive-label-danger-secondary-press: #ba2623;
    --interactive-label-danger-secondary-inactive: #e02e2a;
    --interactive-icon-primary-default: #fff;
    --interactive-icon-primary-hover: #fff;
    --interactive-icon-primary-press: #fff;
    --interactive-icon-primary-selected: #fff;
    --interactive-icon-primary-inactive: #fff;
    --interactive-icon-secondary-default: #0d0d0d;
    --interactive-icon-secondary-hover: #0d0d0de5;
    --interactive-icon-secondary-press: #0d0d0dcc;
    --interactive-icon-secondary-selected: #0d0d0d;
    --interactive-icon-secondary-inactive: #0d0d0d;
    --interactive-icon-tertiary-default: #5d5d5d;
    --interactive-icon-tertiary-hover: #5d5d5d;
    --interactive-icon-tertiary-press: #5d5d5d;
    --interactive-icon-tertiary-selected: #5d5d5d;
    --interactive-icon-tertiary-inactive: #5d5d5d;
    --interactive-icon-accent-default: #0285ff;
    --interactive-icon-accent-hover: #0285ff;
    --interactive-icon-accent-press: #0285ff;
    --interactive-icon-accent-selected: #0285ff;
    --interactive-icon-accent-inactive: #0285ff;
    --interactive-icon-danger-primary-default: #fff;
    --interactive-icon-danger-primary-hover: #fff;
    --interactive-icon-danger-primary-press: #fff;
    --interactive-icon-danger-primary-inactive: #fff;
    --interactive-icon-danger-secondary-default: #e02e2a;
    --interactive-icon-danger-secondary-hover: #fa423e;
    --interactive-icon-danger-secondary-press: #ba2623;
    --interactive-icon-danger-secondary-inactive: #e02e2a;
    --utility-scrollbar: #0000000a;
  }
}
